/* 共通 */
.genre-box,
.score-box,
.comment-box {
    border: 2px solid black;
}

/* 結果画面全体 */
.result-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
}

/* 全体 */
.result-container {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

/* ジャンル */
.genre-box {
    width: 70%;
    margin: 20px auto;
    padding: 15px 0;
}

/* 正解数 */
.score-box {
    width: 40%;
    margin: 20px auto;
    padding: 15px 0;
}
/* コメント */
.comment-box {
    width: 80%;
    height: 180px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ボタン */
.button-area {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.button-area form {
    display: inline-block;
}

.button-area input,
.button-area button {
    width: 220px;
    height: 70px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}
.genre-box h1,
.score-box h2,
.comment-box p {
    margin: 10px 0;
}