/* TOP画面全体 */
.top-container {
  width: 700px;
  margin: 50px auto;
  text-align: center;
}

/* ジャンル選択 */
/* ジャンルを横並び */
.genre-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  width: 100%;
  margin: 120px auto;
}

/* 元のラジオボタンを非表示 */
.genre-radio {
  display: none;
}

/* ジャンルボタン */
.genre-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 150px;

  border: 3px solid #333;
  border-radius: 18px;

  font-size: 36px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}
/* 1 */
.genre-radio:nth-of-type(1) + .genre-button {
  background: #e74c3c;
}

/* 2 */
.genre-radio:nth-of-type(2) + .genre-button {
  background: #3498db;
}

/* 3 */
.genre-radio:nth-of-type(3) + .genre-button {
  background: #f39c12;
}

/* 4 */
.genre-radio:nth-of-type(4) + .genre-button {
  background: #2ecc71;
}

/* 5 */
.genre-radio:nth-of-type(5) + .genre-button {
  background: #9b59b6;
}

/* マウスを乗せたとき */
.genre-button:hover {
  background: #eeeeee;
}

/* 選択中 */
.genre-radio:checked + .genre-button {
  border: 5px solid #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* 問題数選択 */
.question-select {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}
/* 本来のラジオボタンを非表示 */
.question-radio {
  display: none;
}

/* ボタンの見た目 */
.question-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 60px;

  border: 2px solid #333;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;

  background: white;
  cursor: pointer;
}

/* マウスを乗せたとき */
.question-button:hover {
  background: #eeeeee;
}

/* 選択されたボタン */
.question-radio:checked + .question-button {
  background: #333;
  color: white;
}

/* スタートボタン */
.start-button {
  margin-top: 30px;
}

.start-button input {
  width: 260px;
  padding: 15px 0;

  font-size: 22px;
  font-weight: bold;
  color: #fff;

  background-color: #007bff;
  border: none;
  border-radius: 12px;

  cursor: pointer;
  transition: 0.2s;
}

.start-button input:hover {
  background-color: #006fe6;
}

.alert-message {
  background: #ffe5e5;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
